[include]
  path = ~/.gituserconfig
[core]
	editor = vim
	excludesfile = /home/matt/.gitignore_global
[color "diff"]
  meta = green reverse
  frag = yellow bold
  old = red bold
  new = cyan bold
[color "status"]
  untracked = yellow
  added = cyan reverse
  changed = green reverse
